<%= render "common/lookup" %>

<% if @friends.size > 0 %>

	<table class="centered highlight responsive-table" id="table-friendship">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			<% @friends.each do |friend| %>
				<tr id="friend_<%= friend.id %>">
					<td><%= friend.name %></td>
					<td><%= friend.email %></td>
					<td>
						<%= link_to "View Profile", user_path(friend), class: 'btn waves-effect waves-dark green' %>

						<a href="javascript:void(0)" id="unfollow" id-friend="<%= friend.id %>" class="btn waves-effect waves-dark red">Unfollow</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

<% else %>

	<h5 class="center-align">You don't have any friends yet. Please add some!</h5>

<% end %>
<div id="notice-friendship"></div>
