<div class="row">
	<div class="col m12 s12 center-align">
		<p><strong>Email: </strong><%= current_user.email %></p>
		<p><%= pluralize(current_user.images.count, "image") %> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; <%= pluralize(current_user.friends.count, "following") %></p>
		<p><strong>Name: </strong><%= current_user.name %></p>
	</div>
	<hr>
</div>


<% if current_user.images.size > 0 %>

	<div id="my-profile" class="row">
		<%= render @images %>
	</div>

	<% if @count > 9 %>

		<div class="row clearfix">
			<div class="center-align">
			  <button class="btn waves-effect waves-light loadmore-image" type="button">Load more</button>
			  <%= render "layouts/spinner" %>
			</div>
		</div>

	<% end %>

<% else %>

	<h5 class="center-align">You don't have any images.</h5>

<% end %>