<div class="row">
	<div class="col m6 offset-m3 s12 center-align">
		<p><strong>Email: </strong><%= @user.email %></p>
		<p><%= pluralize(@images.count, "image") %> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; <%= @following %> following &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp; <%= @followers %> followers</p>
		<p>
			<span class="left"><strong>Name: </strong><%= @user.name %></span>
			<% if current_user.friendships.where(friend_id: @user.id).size == 0 %>
				<span class="right">
					<button class="btn waves-effect waves-dark" id-user="<%= current_user.id %>" id-follow="<%= @user.id %>" id="follow-user" type="button">Follow</button>
				</span>
			<% else %>
				<span class="right">
					<button class="btn waves-effect waves-dark" id-unfollow="<%= @user.id %>" id="unfollow-user" type="button">Unfollow</button>
				</span>
			<% end %>
		</p>
		<div class="clearfix"></div>
		<p><%= link_to "Back", :back, class: 'btn waves-effect waves-dark blue' %></p>
	</div>
	<hr>
</div>

<% @images.each do |image| %>

	<div class="row">
		<div class="col m8 offset-m2">
			<div class="card z-depth-3 hoverable">
				<div class="card-image">
					<%= link_to image_tag(image.picture.url, style: 'height: 200px'), image_path(image) %>
					<span class="card-title"><%= image.title %></span>
				</div>

				<div class="card-content">
					<p><%= truncate(image.description, length: 50) %></p>
				</div>

				<div class="card-action">
					<a href="javascript:void(0)" class="like-image btn waves-effect waves-light" id-like="<%= image.id %>">
				        <span id="image_<%= image.id %>"><%= image.get_upvotes.size %></span>
				        <span><i class="material-icons">thumb_up</i></span>
			      	</a>

			        <a href="javascript:void(0)" class="dislike-image btn waves-effect waves-light" id-dislike="<%= image.id %>">
			          <span id="dislike_image_<%= image.id %>"><%= image.get_downvotes.size %></span>
			          <i class="material-icons">thumb_down</i>
			        </a>

			          <% if current_user.id == @user.id %>

						<%= link_to "Remove", image_path(image), method: :delete, data: { confirm: 'Are u sure want to delete this images ?' }, class: 'btn waves-effect waves-light red right' %>
			          	<%= link_to "Edit", edit_image_path(image), class: 'btn waves-effect waves-light yellow right' %>

			          <% end %>
				</div>
			</div>
		</div>
	</div>

<% end %>