<%= form_for @image, html: { multipart: true } do |f| %>

	<%= render "shared/errors", obj: @image %>

	<div class="">
		<%= f.label :title %>
		<%= f.text_field :title, autofocus: true, required: true %>
	</div>

	<div class="">
		<%= f.label :description %>
		<%= f.text_area :description, required: true, rows: 20, class: 'materialize-textarea' %>
	</div>

	<div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <%= f.file_field :picture %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

	<div class="input-field">
		<%= f.submit(@image.new_record? ? "Create" : "Update", class: 'btn waves-effect waves-dark') %>
	</div>

<% end %>

<br>
<hr>
<br>

<%= link_to "Back", :back, class: 'btn btn-xs' %>