<div class="">
	<div class="row">
		<div class="col m12 s12 l12">
			<div class="card z-depth-4">

	            <div class="card-image">
	              <%= image_tag(@image.picture.url, class: 'materialboxed') if @image.picture %>
	              <span class="card-title"><%= @image.title %></span>
	            </div>
	            <div class="card-content">
	              <p><%= @image.description %></p>
	              <br>
	              <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-590191597a4e9325"></script> 
	              
	              <div class="clearfix"></div>
	            </div>
	            <div class="card-action">
	              By: <strong><%= @image.user.name %></strong>
	              <span class="right">
	              	<a href="javascript:void(0)" class="like-image btn waves-effect waves-light" id-like="<%= @image.id %>">
				        <span id="image_<%= @image.id %>"><%= @image.get_upvotes.size %></span>
				        <span><i class="material-icons">thumb_up</i></span>
			      	</a>

			        <a href="javascript:void(0)" class="dislike-image btn waves-effect waves-light" id-dislike="<%= @image.id %>">
			          <span id="dislike_image_<%= @image.id %>"><%= @image.get_downvotes.size %></span>
			          <i class="material-icons">thumb_down</i>
			        </a>
	              </span>
	            </div>
	            <br>
	            <%= link_to "Back", :back, class: 'btn waves-effect waves-dark center-align' %>

	            <div class="clearfix"></div>



	            <% if current_user and (@image.user == current_user) %>
	            	<%= link_to "Delete", image_path(@image), method: :delete, data: { confirm: 'Are you sure want to delete this picture ?' }, class: 'btn waves-effect waves-dark red right' %>
					<%= link_to "Edit", edit_image_path(@image), class: 'btn waves-effect waves-dark right yellow' %>
	            <% end %>

	        </div>

	        <div id="comment_<%= @image.id %>">
	        	<div class="card hoverable">
	        		<div class="card-content">
		        		<h4><span id="count-comment-<%= @image.id %>"><%= @image.comments.count %></span> comments</h4>
		        		<hr>
		        		<br>
		        		<%= render "comments/form" %>
		        		<% if @comments.any? %>
							
							<div id="comment_append_<%= @image.id %>">
								<%= render @comments %>
							</div>

							<% if @image.comments.count > 10 %>

								<br>
				        		<div class="center-align">
				        			<button type="button" class="btn waves-effect waves-light green loadmore-comment" id-image-comment="<%= @image.id %>">Load more</button>
				        			<%= render "layouts/spinner" %>
				        		</div>

							<% end %>

						<% else %>

							<h5 style="text-decoration: underline;" class="center-align">Post the first comment</h5>

		        		<% end %>
		        	</div>
	        	</div>
	        </div>
		</div>
	</div>
</div>