<div class="navbar-fixed">
	<nav class="nav-border">
		<div class="nav-wrapper">
			<div class="container">
				<div class="row">
					<div class="">
						<%= link_to "iPhotoShare", root_path, class: 'brand-logo' %>	
					</div>

					<div class="">
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<% if current_user %>

								<li><%= link_to "Post Image", new_image_path %></li>
								<li><%= link_to "My Friends", my_friends_path %></li>
								<li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
								<ul id="dropdown1" class="dropdown-content">
									<li><%= link_to "Profile", my_profile_path %></li>
									<li><%= link_to "Settings", edit_user_registration_path %></li>
									<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
								</ul>

							<% else %>

								<li><%= link_to "Join with us", new_user_registration_path %></li>
								<li><%= link_to "Log in", new_user_session_path %></li>

							<% end %>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>