<!DOCTYPE html>
<html>
<head>
  <title>iPhotoShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=123685151512642";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

<%= render "layouts/navigation" %>

<main class="container">
	<%= render "layouts/message" %>

	<%= yield %>
	<div class="fixed-action-btn horizontal">
	    <a class="btn-floating waves-effect waves-light red back-to-top">
	      <i class="large material-icons">keyboard_arrow_up</i>
	    </a>
	</div>
</main>

<%= render "layouts/footer" %>


<%= debug(params) if Rails.env.development? %>

</body>
</html>

