<!DOCTYPE html>
<html>
<head>
  <title>iPhotoShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=123685151512642";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

<%= render "layouts/navigation" %>

<main class="container">
	<%= render "layouts/message" %>

	<%= yield %>

  
  <div class="modal" id="new-image">
    <div class="modal-content">
      <div class="row">
        <div class="col m10 offset-m1">
          <h4 class="center-align">Post Image</h4>
          <%= form_tag '/images', method: :post, multipart: true do %>

            <div class="input-field">
              <input type="text" name="image[title]" id="title" autofocus="true" required="true" placeholder="Title...">
              <label for="title"></label>
            </div>

            <div class="input-field">
              <textarea name="image[description]" class="materialize-textarea" id="description" required="true" placeholder="Description..."></textarea>
              <label for="description"></label>
            </div>

            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="image[picture]">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>

            <div class="input-field">
              <button type="submit" class="btn waves-effect waves-light dark-blue">Create</button>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>


	<div class="fixed-action-btn horizontal">
	    <a class="btn-floating waves-effect waves-light red back-to-top">
	      <i class="large material-icons">keyboard_arrow_up</i>
	    </a>
	</div>
</main>

<%= render "layouts/footer" %>


<%#= debug(params) if Rails.env.development? %>

</body>
</html>

